@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DNN Support Analyst Homework</h1>
    <p class="lead">Welcome to Young Jun Jo's homework. This project is created using ASP.Net MVC Web Application.</p>
    <p><a href="../Users/Index" class="btn btn-primary btn-lg">Test Application &raquo;</a></p>
</div>